$rank-size-small: 1rem;
$rank-size-medium: 2rem;
$rank-size-large: 3rem;

.rank {
  &--small {
    font-size: $rank-size-small;
  }

  &--medium {
    font-size: $rank-size-medium;
  }

  &--large {
    font-size: $rank-size-large;
  }
}