$card-icon-inset: 1rem;
$color-red: #FF0000;
$color-black: #000000;
$color-white: #ffffff;

.card {
  width: 12.5rem;
  height: 17.5rem;
  border: solid .2rem;
  border-radius: 2rem;
  display: inline-block;
  margin: 1rem;
  position: relative;
  background-color: $color-white;

  &:not(:first-child) {
    margin-left: -10rem;
  }

  &--black {
    border-color: $color-black;
    color: $color-black;
  }

  &--red {
    border-color: $color-red;
    color: $color-red;
  }

  &__value {
    position: absolute;
    line-height: 1rem;
    text-align: center;
  }

  [class*="top"] {
    top: $card-icon-inset;
  }

  [class*="bottom"] {
    bottom: $card-icon-inset;
    transform: rotate(180deg);
  }

  [class*="middle"] {
    top: 45%;
    left: 50%;
    transform: translate(-50%);
  }

  [class*="left"] {
    left: $card-icon-inset;
  }

  [class*="right"] {
    right: $card-icon-inset;
  }
}