.App {
  color: white;
  text-align: center;
  height: 100%;

  &__game {
    min-height: 75vh;
    margin-top: 5vh;
  }

  &__popup {
    position: fixed;
    width: 50vw;
    font-size: 2rem;
    top: 30%;
    border-radius: 5px;
    background-color: black;
    padding: 1rem 0;
    z-index: 10;
    margin: 0 25vw;
  }

  &__controls {
    min-height: 17vh;
  }

  &__scores {
    font-size: 2rem;
    border-bottom: yellow 2px solid;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    height: 5vh;
    z-index: 10;
  }

  &__message {
    color: yellow;
    font-size: 2rem;
    padding: 3px;
  }
}