$color-green: #0a6c03;
$color-light-green: #3ab503;

.App {
  background-image: radial-gradient(
                  circle at top,
                  $color-light-green,
                  $color-green
  );
  color: white;
  text-align: center;
  height: 100%;

  &__game {
    min-height: 70vh;
    margin-top: 5vh;
  }

  &__popup {
    position: fixed;
    width: 50vw;
    font-size: 2rem;
    top: 45%;
    border-radius: 5px;
    background-color: black;
    padding: 1rem 0;
    z-index: 10;
    margin: 0 25vw;
  }

  &__controls {
    min-height: 20vh;
  }

  &__scores {
    padding: 5px;
    font-size: 2rem;
    border-bottom: yellow 2px solid;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    height: 5vh;
  }

  &__message {
    color: yellow;
    font-size: 2rem;
    padding: 3px;
  }
}